doctype html
html(lang='en')
	head
		title Landing Page
	body
		h1 "The future home of something awesome"
		p some shit and Plaid pug flannel, tbh hell of master cleanse bespoke readymade celiac marfa. Paleo pour-over chambray man braid. Gochujang you probably haven't heard of them raclette cornhole, air plant tumeric meh fap small batch next level ugh. Meggings edison bulb deep v, williamsburg narwhal cornhole +1 DIY drinking vinegar ennui fingerstache seitan yuccie bushwick tote bag