doctype html
html(lang="en")
    head
        title Landing Page

    body#page-top
        //- to use partial we use the include keyword, instead of extends
        include ./partials/_nav.pug
        block content